<hr>
<p id="inputdefault">Login Form</p>
<br>
Firstname : <input type = "text" placeholder="Enter 'Firstname' here" id="inputdefault" name="Firstname" [(ngModel)]="Firstname">
<br>
Lastname : <input type = "text" placeholder="Enter 'Lastname' here" class= "mb-2" id="inputdefault" name="Lastname" [(ngModel)]="Lastname">
<!--Add FormsModule in AppModule , To use ngModel . Don't get more into module , we will discuss it later-->
<input type="submit"  value="Verify Me" (click) = "Login(Firstname , Lastname)">
<h1>{{message}}</h1>